<div id="errors-container"></div>

<div class="section">
  <h1>Create your wishlist</h1>

  <%= form_with model: @wishlist, data: { controller: 'wishlist', turbo: false } do |f| %>
    <div class="wishlist-content">
      <div>
        <%= f.label :title, 'Wishlist Title:' %>
        <%= f.text_field :title, placeholder: 'My birthday wishlist' %>
        <% @wishlist.errors.messages_for(:title).each do |error_message| %>
          <div class='field_with_errors'>
            <%= error_message %>
          </div>
        <% end %>
      </div>

      <div>
        <%= f.fields_for :owner do |owner_form| %>
          <%= owner_form.label :email, 'Your email:' %>
          <%= owner_form.email_field :email, placeholder: 'me@my_email.com' %>
        <% end %>
        <% @wishlist.errors.messages_for(:'owner.email').each do |error_message| %>
          <div class='field_with_errors'>
            <%= error_message %>
          </div>
        <% end %>
      </div>

      <label>Wishlist items:</label>
      <ul data-wishlist-target="itemList">
        <%= f.fields_for :wishlist_items do |wishlist_items_form| %>
          <li class='flex'>
            <%= wishlist_items_form.text_field :name, placeholder: 'New bike' %>
            <%= wishlist_items_form.text_field :url, placeholder: 'https://www.new-bike.com' %>
          </li>
        <% end %>
      </ul>
      <%= button_tag '+', data: { action: 'click->wishlist#addItem' }, class: 'font-size-p-responsive button add-button' %>

      <template data-wishlist-target="itemTemplate">
        <li class='flex'>
          <input type='text'>
          <input type='text'>
        </li>
      </template>
    </div>

    <div class="invitees-content">
      <h3>Invite some people</h3>
      <ul data-wishlist-target="inviteeList">
        <%= f.fields_for :invitees do |invitees_form| %>
          <label>Email:</label>
          <li>
            <%= invitees_form.email_field :email, placeholder: 'my_friend@their_email.com' %>
          </li>
        <% end %>
      </ul>
      <%= button_tag '+', data: { action: 'click->wishlist#addInvitee' }, class: 'font-size-p-responsive button add-button' %>

      <template data-wishlist-target="inviteeTemplate">
        <li>
          <input type='email'>
        </li>
      </template>
    </div>

    <%= f.submit 'Create new wishlist', data: { 'disable-with': 'Creating...' }, class: 'button font-size-p-responsive submit-button' %>
  <% end %>
</div>
