<div class="bg-gray-200 h-screen flex items-center justify-center flex-col">
  <div class="w-5/6 mx-auto py-3">
    <div class="flex items-center mb-5">
      <h1 class="text-2xl font-extrabold">Create a new wishlist</h1>
    </div>

    <!-- TODO: Refactor new and edit to use same _form partial -->
    <%= form_with(
      model: @wishlist,
      html: { novalidate: true },
      data: {
        controller: 'validation',
        target: "validation.form",
        action: "ajax:beforeSend->validation#submitForm"
      }) do |f| %>
      <div class="field mb-4 w-64">
        <%= f.label :title, class: "form-label" %>
        <%= f.text_field :title, class: "form-input", required: true %>
      </div>

      <h2>Wishlist Items</h2>
      <div data-controller="nested-form">
        <template data-target="nested-form.template">
          <%= f.fields_for :wishlist_items, WishlistItem.new, child_index: 'TEMPLATE_RECORD' do |wishlist_item| %>
            <%= render 'wishlist_item_fields', f: wishlist_item %>
          <% end %>
        </template>

        <div data-target="nested-form.add_item">
          <%= link_to "Add item", "#", data: { action: "nested-form#add_association"} %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Create", class: "form-submit" %>
      </div>
    <% end %>
  </div>
</div>