<div class="flash-container"></div>

<%= turbo_stream_from "purchase" %>

<% if @wishlist.owner == @user %>
  <%= link_to 'Edit wishlist', edit_wishlist_path(@wishlist, user_id: @user.id) %>
<% end %>

<div class="section">
  <h1><%= @wishlist.title %></h1>
  <div>
    <% @wishlist.wishlist_items.includes(purchase: [:user]).each do |wishlist_item| %>
      <% if @wishlist.owner == @user %>
        <div id="wishlist-item-<%= wishlist_item.id %>">
          <div>
            <li>
              <% if wishlist_item.url.blank? %>
                <%= wishlist_item.name %>
              <% else %>
                <%= link_to wishlist_item.name, wishlist_item.url %>
              <% end %>
            </li>
          </div>
        </div>
      <% else %>
        <%# TODO: Remove? %>
        <%# <%= render partial: 'wishlist_item', locals: { wishlist_item: wishlist_item, wishlist: @wishlist, user: @user, purchase: wishlist_item.reload.purchase } %>
 
        <%= turbo_frame_tag wishlist_item, class: "wishlist-item" do %> 
          <% if wishlist_item.purchased? %>
            <%= render partial: 'purchased_item', locals: { wishlist_item: wishlist_item, wishlist: @wishlist, user: @user, purchased_by_current_user: @user == wishlist_item.purchase.user } %>
          <% else %>
            <%= render partial: 'unpurchased_item', locals: { wishlist_item: wishlist_item, wishlist: @wishlist, user: @user } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
