<!DOCTYPE html>
<html>
  <head>
    <title>Wishly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="text-center bg-gray-200 text-gray-700 pt-2">
      <% if notice %>
        <p class="notice bg-blue-200 py-5 mt-2 w-full"><%= notice %></p>
      <% elsif alert %>
        <p class="alert bg-red-200 py-5 mt-2 w-full"><%= alert %></p>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
