<!DOCTYPE html>
<html>
  <head>
    <title>Wishly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Wishly: Easily create, manage, and send wishlists to your friends and family">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav style="text-align: right;"><%= User.find(params[:user_id]).email if params[:user_id]%></nav>
    <div id="flash-container">
      <%= render "shared/flash_container" if flash %>
    </div>

    <%= yield %>
  </body>
</html>
