<!DOCTYPE html>
<html>
  <head>
    <title>Wishly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Wishly: Easily create, manage, and send wishlists to your friends and family">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Playfair+Display:wght@900&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav>
      <div>
        <%= link_to 'Wishly', root_path %>
      </div>
      <div class="user-name">
        <%= User.find(params[:user_id]).email if params[:user_id]%>
      </div>
    </nav>

    <div id="flash-container">
      <%= render "shared/flash_container" if flash.any? %>
    </div>

    <div class="content">
      <%= yield %>
    </div>

    <footer>
      <p>
        © 2022 Wishly
      </p>
    </footer>
  </body>
</html>
